
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moon Eats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/static/img/logo_new.png" class="img-fluid"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
<div class="container-fluid px-0">
    <div class="background">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 p-0 m-auto select-plan">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Choose Plan</label>
                            <select class="form-control" id="planInfo">
                                <% for (var i = 0; i < plansList.length; i++) { %>
                                    <option value="<%= plansList[i].plan_id; %>"><%= plansList[i].plan_name; %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 p-0 panel pricing-table">

                    <div class="pricing-plan">
                        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
                        <p class="description mb-3">

                        </p>
                        <div class="form-group pt-3">
                            <select class="form-control" id="priceingPer">
                                <option value="1">Monthly</option>
                                <option value="2">Yearly</option>
                            </select>
                        </div>
                        <!-- <ul class="pricing-features mt-3">
                             <li class="pricing-features-item">max number of agent &#45;&#45; 10</li>
                             <li class="pricing-features-item">max number of visitors ( per month)&#45;&#45; 3000</li>
                             <li class="pricing-features-item">Email Trnscrpt &#45;&#45; Yes</li>
                             <li class="pricing-features-item">chat transfer &#45;&#45; Yes</li>
                             <li class="pricing-features-item">File Dwnldng &#45;&#45; No</li>
                             <li class="pricing-features-item">upload files &#45;&#45; YES</li>
                             <li class="pricing-features-item">triggers &#45;&#45; NO</li>
                             <li class="pricing-features-item">Employee Mngment &#45;&#45; YES</li>
                             <li class="pricing-features-item">Customize chat &#45;&#45; NO</li>
                         </ul>-->
<div id="planDetailsTable">
    <span class="pricing-price"><span class="strikeoff">$9</span>  $7<span class="month">/per month</span></span>

    <table class="table mt-3">
        <tbody>
        <tr>
            <td>max number of agent</td>
            <td><%= plansList[0].no_of_agents_per_site_%></td>
        </tr>
        <tr>
            <td>max number of visitors </td>
            <td><%= plansList[0].maximum_visitors_%></td>
        </tr>
        <tr>
            <td>Email Trnscrpt</td>
            <td><%= plansList[0].maximum_visitors_%></td>
        </tr>

        <tr>
            <td>chat transfer </td>
            <td>YES</td>
        </tr>

        <tr>
            <td>File Downloadng</td>
            <td>NO</td>
        </tr>
        <tr>
            <td>upload files</td>
            <td>YES</td>
        </tr>
        <tr>
            <td>triggers </td>
            <td>No </td>
        </tr>

        <tr>
            <td>Employee Managment </td>
            <td>Yes </td>
        </tr>

        <tr>
            <td>Customize chat</td>
            <td>No</td>




        </tbody>
    </table>
</div>


                        <button type="button" id="buyPlan" class="pricing-button">Buy Now</button>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<div class="feedback-section" id="feedbackSection"><span></span></div>
<script src="static/js/jquery/jquery.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/jquery.mCustomScrollbar.min.js"></script>
<script src="static/js/fontawesome.min.js"></script>
<script src="static/js/fontawesome-all.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/global.js"></script>

<script>
    var planDetails;
    $(document).ready(function(){
        $('body').on('change','#planInfo',function(){
            let planId=$(this).val();
            planInfo(planId);
        }).on('change','#priceingPer',function () {
                let planPrice='';
                let type=$(this).val();
                $(".pricing-price").remove();
                if(type==1){
                     planPrice=`<span class="pricing-price"><span class="strikeoff">$${planDetails.price_month}</span>  $${planDetails.discount_price_month}<span class="month">/per month</span></span>`;

                }else{
                     planPrice=`<span class="pricing-price"><span class="strikeoff">$${planDetails.price_year}</span>  $${planDetails.discount_price_year}<span class="month">/per year</span></span>`;

                }
            $("#planDetailsTable").prepend(planPrice);
        }).on('click',"#buyPlan",function (){
            sessionStorage.setItem('plan',$('#planInfo').val());
            sessionStorage.setItem('priceingPer',$('#priceingPer').val());
              window.location.href='/signup';
        });
        $("#planInfo").change();
        function planInfo(planId){
            postData('/plan-info',{plan_id:planId},function (response) {
                 planDetails=response.plan_info;
                 let planPreferences=planDetails.preferences;
                planPreferences=JSON.parse(planPreferences);
                console.log(planPreferences,"planasasas",$.inArray('6',planPreferences));
                 let plan=` <span class="pricing-price"><span class="strikeoff">$${planDetails.price_month}</span>  $${planDetails.discount_price_month}<span class="month">/per month</span></span>
  <table class="table mt-3">
                            <tbody>
                            <tr>
                                <td>max number of agent</td>
                                <td>${planDetails.no_of_agents_per_site}</td>
                            </tr>
                            <tr>
                                <td>max number of visitors </td>
                                <td>${planDetails.maximum_visitors}</td>
                            </tr>
                            <tr>
                                <td>Email Transcript</td>
                                <td>${$.inArray('1',planPreferences)!==-1?'Yes':'No'}</td>
                            </tr>

                            <tr>
                                <td>chat transfer </td>
                                <td>${$.inArray('2',planPreferences)!==-1?'Yes':'No'}</td>
                            </tr>

                            <tr>
                                <td>File Downloading</td>
                                <td>${$.inArray('3',planPreferences!==-1)?'Yes':'No'}</td>
                            </tr>
                            <tr>
                                <td>upload files</td>
                               <td>${$.inArray('4',planPreferences)!==-1?'Yes':'No'}</td>
                            </tr>
                            <tr>
                                <td>triggers </td>
                                <td>${$.inArray('6',planPreferences)!==-1?'Yes':'No'}</td>
                            </tr>

                            <tr>
                                <td>Employee Managment </td>
                                <td>${$.inArray('5',planPreferences)!==-1?'Yes':'No'}</td>
                            </tr>

                            <tr>
                                <td>Customize chat</td>
                                <td>${$.inArray('7',planPreferences)!==-1?'Yes':'No'}</td>




                            </tbody>
                        </table>`;
                                $("#planDetailsTable").html(plan);
            });
        }
    })
</script>