<%- include ("../../partials/head.ejs") %>

<div class="custom-fullheight">
        <div class="d-lg-flex min-h-full">
                <%- include ("../../partials/admin-side-menu.ejs",{activeLink:60}) %>

                <div class="w-100 superadmin-rightsection p-4 p-lg-5">
                        <div class="mb-4">
                                <div class="color-000 pagename opensans-bold d-inline-block">
                                        Bill
                                </div>
                                <!-- <div class="float-right">
                                        <a class="btn bg-blue add-btn text-white" href="/admin/add-distributor">
                                                Add Distributor
                                        </a>
                                </div> -->
                        </div>
                        <div class="table-responsive">
                                <table class="table table-hover border superadmin-table">
                                        <thead>
                                                <tr>
                                                        <th scope="col" class="agent-bor">S.No.</th>
                                                        <th scope="col">created Date</th>
                                                        <th scope="col"> Hospital Zone</th>
                                                        <th scope="col">Hospital Name</th>
                                                        
                                                        <th scope="col">Aarogya Pradhaan Id</th>
                                                        <th scope="col">User First Name</th>
                                                        <th scope="col">User Last Name</th>
                                                        
                                                        <th scope="col">User Mobile Number</th>
                                                        <th scope="col">User Email</th>
                                                        <th scope="col">User Zone</th>
                                                        <th scope="col">User Aadhaar Number</th>
                                                        <th scope="col">Bill Number</th>
                                                        <th scope="col"> Bill Amount </th>
                                                        <th scope="col" class="agent-bor1">Bill</th>
                                                        

                                                       
                                                </tr>
                                        </thead>

                                        <tbody>
                                               
                                            <% for (var i = 0; i < billsList.length; i++) { %>
                                               
                                                <tr>
                                                    <td class="mine-radius"><%= i+1; %></td>
                                                    <td><%= newdate[i] %></td>
                                                    <td><%= billsList[i].district; %></td>
                                                    <td><%= billsList[i].hospital_name; %></td>
                                                    
                                                    <td><%= billsList[i].card_number; %></td>
                                                    <td><%= billsList[i].first_name; %></td>
                                                    <td><%= billsList[i].last_name; %></td>
                                                    <td><%= billsList[i].mobile_no; %></td>
                                                    <td><%= billsList[i].user_email_id; %></td>
                                                    <td><%= billsList[i].district; %></td>
                                                    <td><%= billsList[i].aadhar_no; %></td>
                                                    <td><%= billsList[i].bill_number; %></td>
                                                    <td><%= billsList[i].bill_amount; %></td>
                                                    

                                                    <td class="mine-radius-right">
                                                        <div class="d-flex align-items-center">
                                                                    <a
                                                                            href="/admin/bill-view/<%= Buffer.from("billsList="+billsList[i].bill_id).toString('base64') %>"> 
                                                                            <button class="text-underline-hover">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                                                      </svg>
                                                                        </button> </a>
                                                        </div>
                                                </td>
                                                
                                                    
                                                    
                                                </tr>

                                                <% } %>
                                               
                                        </tbody>
                                </table>
                        </div>
                </div>

        </div>
</div><script>
        $('.superadmin-table').DataTable();
</script> 