<%- include ("../../partials/head.ejs") %>

<div class="custom-fullheight">
        <div class="d-lg-flex min-h-full">
                <%- include ("../../partials/admin-side-menu.ejs",{activeLink:90}) %>

                <div class="w-100 superadmin-rightsection p-4 p-lg-5">
                        <div class="mb-4">
                                <div class="color-000 pagename opensans-bold d-inline-block">
                                       Commission
                                </div>
                        </div>
                        <div class="table-responsive">
                                <table class="table table-hover border superadmin-table">
                                        <thead>
                                                <tr>
                                                        <th scope="col" class="agent-bor">S.No.</th>
                                                        <th scope="col">Received Date</th>
                                                        <th scope="col">Distributor</th>
                                                        <th scope="col">Agent Name</th>
                                                        <th scope="col">Zone</th>
                                                     
                                                        <th scope="col">Hospital</th>
                                                        <th scope="col"> Arogya Pradhaan ID</th>
                                                        <th scope="col"> Payment ID</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col"> Distributor Commission</th>
                                                        <th scope="col">Hospital Commssion</th>
                                                        <th scope="col">Agent Commission</th>
                                                        <th scope="col" class="agent-bor1">Status</th>
                                                       
                                                </tr>
                                        </thead>

                                        <tbody>
                                               
                                            <% for (var i = 0; i < commissionList.length; i++) { %>
                                               
                                               
                                                <tr>
                                                       
                                                    <td class="mine-radius"><%= i+1; %></td>
                                                    <td><%= newdate[i]%></td>
                                                    <td><%= commissionList[i].distributor_name; %></td>
                                                    <td><%= commissionList[i].agent_name; %></td>
                                                    <td><%= commissionList[i].district; %></td>
                                                    <td><%= commissionList[i].hospital_name; %></td>
                                                    <td><%= commissionList[i].card_number; %></td>
                                                    <td><%= commissionList[i].payment_id; %></td>
                                                    <td><%= commissionList[i].amount; %></td>


                                                  

                                                        <td>
                                                                <% if(commissionList[i].distributor_commi_status !=2){ %>
                                                                <div>                                                                
                                                                        <div class="d-flex align-items-center">
                                                                        
                                                                                <button class="btn-update1 commissionId" data-toggle="modal" data-target="#exampleModalCenterDistributor"
                                                                                        data-id="<%= commissionList[i].users_id; %>">
                                                                                          Update      
                                                                                </button>       
                                                                        </div>
                                                                </div>
                                                                <%} else if(commissionList[i].distributor_commi_status == 2){ %>
                                                                        <%= commissionList[i].distributor_commission; %>
                                                                <% } %>

                                                        </td>


                                                    <td>
                                                        <% if(commissionList[i].hospital_commi_status !=2){ %>
                                                        <div class="d-flex align-items-center">
                                                                
                                                                <button class="btn-update1 commissionIId" data-toggle="modal" data-target="#exampleModalCenterHospital"
                                                                        data-id="<%= commissionList[i].users_id; %>">
                                                                          Update     
                                                                </button>
                                                        </div>
                                                        <%} else if(commissionList[i].hospital_commi_status == 2){ %>
                                                                <%= commissionList[i].hospital_commission; %>
                                                        <% } %>
                                                    </td>


                                                    <!-- <td><%= commissionList[i].agent_commission; %></td> -->

                                                    <td>
                                                        <% if(commissionList[i].agent_commi_status !=2){ %>
                                                        <div class="d-flex align-items-center">
                                                                
                                                                <button class="btn-update1 commissionIIId" data-toggle="modal" data-target="#exampleModalCenterAgent"
                                                                        data-id="<%= commissionList[i].users_id; %>">
                                                                          Update     
                                                                </button>
                                                        </div>
                                                        <%} else if(commissionList[i].agent_commi_status == 2){ %>
                                                                <%= commissionList[i].agent_commission; %>
                                                        <% } %>
                                                    </td>
                                                   

                                                    <td>
                                                       
                                                        
                                                                <div class="d-flex align-items-center">
                                                                        
                                                                        <button class="text-underline-hover commissionDetails" data-toggle="modal" data-target="#exampleModalCenterView"
                                                                                data-id="<%= commissionList[i].users_id; %>">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                                                      </svg>   
                                                                        </button>
                                                                </div>

                                                                
                                                                       
                                                               
                                                                
                                                   </td>
                                                </tr>

                                                <% } %>
                                               
                                        </tbody>
                                </table>
                        </div>
                </div>

        </div>
</div>
 

<script>
        $('.superadmin-table').DataTable();
</script>

 <!-- view for commission's -->
<div class="modal fade" id="exampleModalCenterView" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                   <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Distributor Commission</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                        </button>
                   </div>
                        <div class="modal-body">
                                
                                <div class="user-detail">

                                </div> 
                                

                        </div>
                        <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " id="distibutor-commission-submit">Save changes</button>
                        </div> -->
                </div>
        </div>
</div>

<!-- Modal distributor -->
<div class="modal fade" id="exampleModalCenterDistributor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                   <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLongTitle">Distributor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="icon-wrong"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                      </svg></span>
                        </button>
                   </div>
                        <div class="modal-body">
                                
                                <div class="user-detail">

                                </div> 
                                <div class="mb-3">
                                        <div class="row">
                                                <div class="col-md-12 d-flex mine-add">
                                                        <label class="distributername1"> Enter Reference ID<span class="dot-dot">:</span></label>
                                                        <input type="text" class="form-control comm-form" id="refNo" placeholder=""/>
                                                </div>
                                                
                                        </div>       
                                </div>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " id="distibutor-commission-submit">Save changes</button>
                        </div>
                </div>
        </div>
</div>

<!-- Modal hospital -->
<div class="modal fade" id="exampleModalCenterHospital" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLongTitle">Hospital Commission</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="icon-wrong"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                      </svg></span>
                        </button>
                        </div>
                        <div class="modal-body">
                                
                                <div class="user-detail">

                                </div> 
                                <div class="mb-4">
                                        <div class="row">
                                                <div class="col-md-12 d-flex mine-add">
                                                        <label class="distributername1">Reference Number<span class="dot-dot">:</span></label>
                                                        <input type="text" class="form-control comm-form" id="refenceNo" placeholder=""/>
                                                </div>
                                                
                                        </div>       
                                </div>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="hospital-commission-submit">Save changes</button>
                        </div>
                </div>
        </div>
</div>

<!-- Agent Modal  -->
<div class="modal fade" id="exampleModalCenterAgent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLongTitle">Agent Commssion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="icon-wrong"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                      </svg></span>
                        </button>
                        </div>
                        <div class="modal-body">
                                
                                <div class="user-detail">

                                </div> 
                                <div class="mb-4">
                                        <div class="row">
                                                <div class="col-md-12 d-flex mine-add">
                                                        <label class="distributername1">Reference Number<span class="dot-dot">:</span></label>
                                                        <input type="text" class="form-control comm-form" id="refenId" placeholder=""/>
                                                </div>
                                                
                                        </div>       
                                </div>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="agent-commission-submit">Save changes</button>
                        </div>
                </div>
        </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {

                var commissionId = '';
                let distributorRefNO='';
                let hospitalRefNo='';

                //---------------------distributor commission--------------------------------------------------//

                $('body').on('click', '.commissionId', function () {
                     commissionId = $(this).data('id');
                      //  alert(commissionId);

                        
                        commissionId = $.trim(commissionId);
                                if (commissionId == "" || commissionId == null || commissionId == undefined) {
                                        messageDisplay("require distributorId To give commission ");
                                        return false;
                                }

                                let formData = new FormData();
                        formData.append("commissionId", commissionId);
                        


                        $.ajax({
                                type: "POST",
                                url: '/admin/distributor-commission',
                                data: formData,
                                dataType: "json",
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                        console.log(data);
                                 
                                        if(data.response == true && data.distributor_commission_details != null) {
                                               console.log(data.distributor_commission_details);
                                                $('.user-detail').html(data.distributor_commission_details);
                                               

                                        }

                                        
                                        
                                }
                               
                        });

                        $("#exampleModalCenterDistributor").modal('toggle');
                }).on('click', '#distibutor-commission-submit', function () {
                     
                        distributorRefNO=$('#refNo').val();
                       
                        
                        distributorRefNO = $.trim(distributorRefNO);
                                if (distributorRefNO == "" || distributorRefNO == null || distributorRefNO == undefined) {
                                        messageDisplay("require id for commission ");
                                        return false;
                                }
                                
                                commissionIId = $('#commission_id55').val();
                                
                               
                               

                                let formData = new FormData();
                        formData.append("distributorRefId", distributorRefNO);
                        formData.append("commissionIdForRef", commissionIId);
                        


                        $.ajax({
                                type: "POST",
                                url: '/admin/distributor-ref-number',
                                data: formData,
                                dataType: "json",
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                        console.log(data);
                                        if (data.success ==
                                                true) {
                                                messageDisplay(data
                                                        .message,
                                                        2000,
                                                        "success"
                                                );
                                                setTimeout(function () {
                                                               window.location.href =
                                                                        "/admin/commission";
                                                        },
                                                        2000
                                                );
                                        } else {
                                                element.attr("disabled",
                                                                false
                                                        )
                                                        .html(
                                                                'save'
                                                        );
                                                messageDisplay(data
                                                        .message,
                                                        2000
                                                );
                                        }
                                },
                                error: function () {
                                        messageDisplay(
                                                "distributor reference not inserted"
                                        );
                                }
                               
                        });

                        // $("#exampleModalCenterDistributor").modal('toggle');
        
                 //---------------------hospital commission--------------------------------------------------//
                }).on('click', '.commissionIId', function () {
                     commissionId = $(this).data('id');
                     
                     
                        commissionId = $.trim(commissionId);
                                if (commissionId == "" || commissionId == null || commissionId == undefined) {
                                        messageDisplay("require  Id(H) for commission ");
                                        return false;
                                }
                               

                                let formData = new FormData();
                        formData.append("commissionId", commissionId);
                        
                        


                        $.ajax({
                                type: "POST",
                                url: '/admin/hospital-commission',
                                data: formData,
                                dataType: "json",
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                        console.log(data);
                                 
                                        if(data.response == true && data.hospitalCommission_data != null) {
                                               //console.log(data.distributor_commission_details);
                                                $('.user-detail').html(data.hospitalCommission_data);
                                               

                                        }

                                        
                                        
                                }
                               
                        });

                      //  $("#exampleModalCenterHospital").modal('toggle');
                }).on('click', '#hospital-commission-submit', function () {
                     
                        hospitalRefNO=$('#refenceNo').val();
                        commissionIddd = $('#commissionIdd5').val();
                       // alert(commissionIddd)
                       
                     
                     hospitalRefNO = $.trim(hospitalRefNO);
                             if (hospitalRefNO == "" || hospitalRefNO == null || hospitalRefNO == undefined) {
                                     messageDisplay("Enter reference number");
                                     return false;
                             }
                
                             let formData = new FormData();
                     formData.append("hospitalRefNO", hospitalRefNO);
                     formData.append("commissionIdForRef", commissionIddd);
                     


                     $.ajax({
                             type: "POST",
                             url: '/admin/hospital-ref-number',
                             data: formData,
                             dataType: "json",
                             cache: false,
                             contentType: false,
                             processData: false,
                             success: function (data) {
                                     console.log(data);
                                     if (data.success ==
                                             true) {
                                             messageDisplay(data
                                                     .message,
                                                     2000,
                                                     "success"
                                             );
                                             setTimeout(function () {
                                                            window.location.href =
                                                                     "/admin/commission";
                                                     },
                                                     2000
                                             );
                                     } else {
                                             element.attr("disabled",
                                                             false
                                                     )
                                                     .html(
                                                             'save'
                                                     );
                                             messageDisplay(data
                                                     .message,
                                                     2000
                                             );
                                     }
                             },
                             error: function () {
                                     messageDisplay(
                                             "reference number not send"
                                     );
                             }
                            
                     });

                 //-------------------------Agent Commission------------------------------------------//    

                }).on('click', '.commissionIIId', function () {
                     commissionIIId = $(this).data('id');
                       // alert(commissionId);

                        
                       commissionIIId = $.trim(commissionIIId);
                                if (commissionIIId == "" || commissionIIId == null || commissionIIId == undefined) {
                                        messageDisplay("require (-A-) refNo ");
                                        return false;
                                }
                               


                                let formData = new FormData();
                        formData.append("commissionIIId", commissionIIId);
                        


                        $.ajax({
                                type: "POST",
                                url: '/admin/agent-commission',
                                data: formData,
                                dataType: "json",
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                        console.log(data);
                                 
                                        if(data.response == true && data.agentCommission_Details != null) {
                                               //console.log(data.distributor_commission_details);
                                                $('.user-detail').html(data.agentCommission_Details);
                                               

                                        }

                                        
                                        
                                }
                               
                        });
                }).on('click', '#agent-commission-submit', function () {
                     
                     agentRefNO=$('#refenId').val();
                     commissionNoId = $('#commissionIdd51').val();
                    // alert(commissionIddd);
                  
                    agentRefNO = $.trim(agentRefNO);
                          if (agentRefNO == "" || agentRefNO == null || agentRefNO == undefined) {
                                  messageDisplay("Enter reference number");
                                  return false;
                          }
             
                          let formData = new FormData();
                  formData.append("agentRefNO", agentRefNO);
                  formData.append("commissionIdForRef", commissionNoId);
                  


                  $.ajax({
                          type: "POST",
                          url: '/admin/agent-ref-number',
                          data: formData,
                          dataType: "json",
                          cache: false,
                          contentType: false,
                          processData: false,
                          success: function (data) {
                                  console.log(data);
                                  if (data.success ==
                                          true) {
                                          messageDisplay(data
                                                  .message,
                                                  2000,
                                                  "success"
                                          );
                                          setTimeout(function () {
                                                         window.location.href =
                                                                  "/admin/commission";
                                                  },
                                                  2000
                                          );
                                  } else {
                                          element.attr("disabled",
                                                          false
                                                  )
                                                  .html(
                                                          'save'
                                                  );
                                          messageDisplay(data
                                                  .message,
                                                  2000
                                          );
                                  }
                          },
                          error: function () {
                                  messageDisplay(
                                          "reference number not send"
                                  );
                          }
                         
                  })

                  //-------------------------------------full commission View-------------------//
                }).on('click', '.commissionDetails', function () {
                     commissionView = $(this).data('id');
                      //  alert(commissionView);
                        
                        commissionView = $.trim(commissionView);
                                if (commissionView == "" || commissionView == null || commissionView == undefined) {
                                        messageDisplay("require id for View ");
                                        return false;
                                }
                               


                                let formData = new FormData();
                        formData.append("commissionView", commissionView);
                        


                        $.ajax({
                                type: "POST",
                                url: '/admin/view-commission',
                                data: formData,
                                dataType: "json",
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                        console.log(data);
                                 
                                        if(data.response == true && data.viewCommission_Details != null) {
                                               console.log(data.viewCommission_Details);
                                                $('.user-detail').html(data.viewCommission_Details);
                                               

                                        }

                                        
                                        
                                }
                               
                        });
                })

        }) 

 </script> 