<%- include ("../../partials/head.ejs") %>

<div class="custom-fullheight">
        <div class="d-lg-flex min-h-full">
                <%- include ("../../partials/admin-side-menu.ejs",{activeLink:10}) %>

                <div class="w-50 superadmin-rightsection mine-sec p-4 p-lg-5">
                        <div class="mb-4">
                                <div class="color-000 pagename opensans-bold d-inline-block">
                                        Zone's
                                </div>
                                <div class="float-right">
                                        <a class="btn bg-blue add-btn text-white" href="/admin/add-district">
                                               + Add Zone
                                        </a>
                                </div>
                        </div>
                        <div class="table-responsive">
                                <table class="table table-hover border superadmin-table col-12 col-lg-6">
                                        <thead>
                                                <tr>
                                                        <th scope="col"  class="text-center dist-border">Sr.No.</th>
                                                        <th scope="col" class="text-center">Zone's</th>
                                                        <th scope="col" class="text-center dist-border-1"> Action</th>
                                                </tr>
                                        </thead>

                                        <tbody>
                                               
                                            <% for (var i = 0; i < districtList.length; i++) { %>
                                               
                                                <tr class="text-center">
                                                    <td class="border-bottom-dist-left"><%= i+1; %></td>
                                                    <td><%= districtList[i].district; %></td>
                                                    <td class="mine-radius-right">
                                                        <div class="align-items-center">
                                                                    <a
                                                                            href="/admin/edit-district/<%= Buffer.from("districtList="+districtList[i].district_id).toString('base64')%>">
                                                                            <button class="action-btn mr-2">
                                                                                    <i
                                                                                            class="fas fa-pencil-alt"></i>
                                                                            </button></a>
                                                                            <button class="action-btn delete-district" data-id="<%= districtList[i].district_id; %>">
                                                                                    <i class="fas fa-trash"></i>
                                                                                </button>
                                                        </div>
                                                </td>
                                                  
                                                </tr>

                                                <% } %>
                                               
                                        </tbody>
                                </table>
                        </div>
                </div>

        </div>
</div>

<script>
        $('.superadmin-table').DataTable();
</script>

<div class="modal" id="deleteModal">
        <div class="modal-dialog">
                <div class="modal-content">

                        <!-- Modal Header  -->
                        <div class="modal-header">
                                <h4 class="modal-title">Are You Sure?</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                                Are You Sure You Want to Delete ?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-danger" id="delete">Yes</button>
                        </div>

                 </div>
        </div>
</div>

 <script type="text/javascript">
        $(document).ready(function () {
                let deleteAgent;
                $('body').on('click', '.delete-district', function () {
                        deleteDistrict = $(this).data('id');
                        $("#deleteModal").modal('toggle');
                }).on('click', '#delete', function () {
                        let element = $(this);
                        element.attr("disabled", "disabled").html("Please Wait..");
                        postData('/admin/delete-district', {
                                'district_id': deleteDistrict
                        }, function (response) {

                                if (response.success) {
                                        messageDisplay(response.message,
                                                2000, "success");
                                        setTimeout(function () {
                                                window.location
                                                        .reload();
                                        }, 2000);
                                } else {
                                        element.attr("disabled", false)
                                                .html('save');
                                        messageDisplay(response.message,
                                                2000);
                                }
                        });
                })
        }) 

 </script> 
