<%- include ("../../partials/head.ejs") %>

        <div class="custom-fullheight">
                <div class="d-lg-flex min-h-full">
                        <%- include ("../../partials/admin-side-menu.ejs",{activeLink:30}) %>
                                <div class="w-100 superadmin-rightsection p-5 mob-p">
                                        <div class="color-000 pagename opensans-bold mb-4">
                                                <a class="pointer" href="../agent"><img src="/static/img/back.png"
                                                                class="img-fluid">
                                                        Edit Agent</a>
                                        </div>
                                        <div class="row">
                                                <div class="col-xxl-5 col-xl-12  col-lg-12 col-md-12 col-sm-12">
                                                        <div class="input-boxs">
                                                                <div class="row bor-bottom-line p-5">
                                                                        <div
                                                                        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-12 mb-4 mb-lg-0">
                                                                        
                                                                                
                                                                                <div class="mb-4">
                                                                                    <label class="color-333 superadmin-label">
                                                                                        Select Zone
                                                                                    </label>
                                                                                    <div class="">
                                                                                        <select id="district" class="form-control superadmin-formcontrol-input-1  rounded category_type">
                                                                                            <option value="">---select---</option>
                                                                                            <% for (var i = 0; i < districtList.length; i++){ %>
                                                                                         <option class="form-control" value="<%= districtList[i].district_id; %>" >
                                                                                                <%= districtList[i].district;%> </option>
                                                                                            <% }%>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                </div>

                                                                                <div
                                                                                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-12 mb-4 mb-lg-0">
                                                                                <div class="mb-4">
                                                                                        <label class="color-333 superadmin-label">
                                                                                            Select Hospital
                                                                                        </label>
                                                                                        <div class="">
                                                                                            <select id="hospital" class="form-control superadmin-formcontrol-input-1  rounded category_type1">
                                                                                                <option value="">---select---</option>
                                                                                                <% for(let k=0; k < hospitalDetails.length; k++){ %>
                                                                                                        <option selected value="<%= hospitalDetails[k].hospital_id %>"><%= hospitalDetails[k].hospital_name %></option>
                                                                                                        <%} %>
                                                                                               
                                                                                            </select>
                                                                                        </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                    
                                                                                  
                                                                                <div class="p-5">
                                                                                    <div class="color-000 pagename opensans-bold mb-4">
                                                                                        <u> Biller Details</u> 
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div
                                                                                        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-12 mb-4 mb-lg-0">
                                                                                    <div class="mb-4">
                                                                                        <label
                                                                                                class="color-333 superadmin-label">
                                                                                                Enter Agent name
                                                                                        </label>
                                                                                        <div class="">
                                                                                                <input type="text"
                                                                                                        class="form-control superadmin-formcontrol-input-1  rounded"
                                                                                                        id="agent_name"
                                                                                                        value="<%= agentDetails[0].agent_name; %>"
                                                                                                        placeholder="Enter agent name">
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="mb-4">
                                                                                        <label
                                                                                                class="color-333 superadmin-label">
                                                                                                Enter agent contact number
                                                                                        </label>
                                                                                        <div class="">
                                                                                                <input type="text"
                                                                                                        class="form-control superadmin-formcontrol-input-1  rounded"
                                                                                                        id="contact_number"
                                                                                                        value="<%= agentDetails[0].contact_number %>"
                                                                                                        placeholder="Enter agent contact number">
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="mb-4">
                                                                                        <label
                                                                                                class="color-333 superadmin-label">
                                                                                                Enter  Agent email
                                                                                        </label>
                                                                                        <div class="">
                                                                                                <input type="text"
                                                                                                        class="form-control superadmin-formcontrol-input-1  rounded"
                                                                                                        id="email_id"
                                                                                                        value="<%= agentDetails[0].email_id %>"
                                                                                                        placeholder="Enter agent email">
                                                                                                </div>
                                                                                        </div>
                                                                                        </div>

                                                                                        <div
                                                                                        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-12 mb-4 mb-lg-0">

                                                                                <label
                                                                                        class="color-333 superadmin-label">
                                                                                         Agent Image
                                                                                </label>
                                                                                    <div
                                                                                        class="position-relative upload-files mb-4 col-12 superadmin-formcontrol-input-1 ">

                                                                                        <input type="file"
                                                                                                id="file-upload">
                                                                                        <div
                                                                                                class="upload-files-placeholder">
                                                                                                <img src="/static/img/upload.png"
                                                                                                        class="img-fluid">
                                                                                                
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="row mx-0 "
                                                                                        id="files-wrapper">
                                                                                        <img src="/static/<%= agentDetails[0].agent_image; %>"
                                                                                                style="width: 200px;height: 200px;">
                                                                                        </div>
                                                                                </div>
                                                                                </div>

                                                                                  
                                                                                    
                                                                                    <div class="text-right mt-3">
                                                                                        <button type="button"
                                                                                                class="btn-update-distributer"
                                                                                                id="savedata">update</button>
                                                                                </div>


                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                </div>
        </div>

        <script>
                $(document).ready(function () {
                        mediaFiles = [];
                        const mediaFilesacceptedExtensions = ["jpg", "png", "jpeg"];
                        $("body").on("click", "#savedata", function () {

                                let districtElement = $("#district");
                                let district = districtElement.val();
                                district = $.trim(district);
                                if (district == "" || district == null || district == undefined) {
                                        messageDisplay("Please select district name");
                                        return false;
                                }
                                let hospitalElement = $("#hospital");
                                let hospital = hospitalElement.val();
                                hospital = $.trim(hospital);
                                if (hospital == "" || hospital == null || hospital == undefined) {
                                        messageDisplay("Please select hospital name");
                                        return false;
                                }
                            
                                let agentNameElement = $("#agent_name");
                                let agentName = agentNameElement.val();
                                agentName = $.trim(agentName);
                                if (agentName == "" || agentName == null || agentName == undefined) {
                                        messageDisplay("Please Enter agent name");
                                        return false;
                                }

                                let nameExpr = /^[a-zA-Z ]+$/.test(agentName);
                                if (!nameExpr) {
                                        messageDisplay("Please enter valid agent name", 1500,
                                                "error");
                                        $("#agent_name").focus();
                                        return false;
                                }

                                if (!agentName.match('^[a-zA-Z ]{0,1000}$')) {
                                        messageDisplay("Please enter valid name");
                                        $("#agent_name").focus();
                                        return false;
                                }

                                if (agentName.length < 3 || agentName.length > 15) {
                                        messageDisplay(
                                                "name should contain 3 to 15 characters"
                                        );
                                        $("#agent_name").focus();
                                        return false;
                                }
                                
                               

                                let emailIdElement = $("#email_id");
                                let emailId = emailIdElement.val();
                                emailId = $.trim(emailId);
                                
                                if (emailId == "" || emailId == null || emailId == undefined) {
                                        messageDisplay("Please Enter emailId ");
                                        return false;
                                }
                                if (!emailExpr.test(emailId)) {
                         messageDisplay("Please enter valid email address", 1500, "error");
                         $("#EmailId").focus();
                          return false;
                        }

                                let contactNumberElement = $("#contact_number");
                                let contactNumber = contactNumberElement.val();
                                contactNumber = $.trim(contactNumber);
                                if (contactNumber == "" || contactNumber == null || contactNumber == undefined) {
                                        messageDisplay("Please Enter contact Number ");
                                        return false;
                                }
                                
                                if (!mobileExpr.test(contactNumber)) {
                         messageDisplay("Please enter valid mobile number", 1500, "error");
                         $("#contact_number").focus();
                          return false;
                        }



                                let element = $(this);
                                element.attr("disabled", "disabled").html("Please Wait..");

                                let formData = new FormData();

                                formData.append("hospital", hospital);
                                formData.append("district", district);
                                formData.append("agentName", agentName);
                                formData.append("emailId", emailId);
                                formData.append('upload_file', mediaFiles[0]);
                                formData.append("contactNumber", contactNumber);
                                console.log(formData);

                                


                                $.ajax({
                                        type: "POST",
                                        url: window.location.href,
                                        data: formData,
                                        dataType: "json",
                                        cache: false,
                                        contentType: false,
                                        processData: false,
                                        success: function (data) {
                                                console.log(data);
                                                if (data.success ==
                                                        true) {
                                                        messageDisplay(data
                                                                .message,
                                                                2000,
                                                                "success"
                                                        );
                                                        setTimeout(function () {
                                                                location.href =
                                                                        "/admin/agent";
                                                        },
                                                                2000
                                                        );
                                                } else {
                                                        // element.attr("disabled",
                                                        //         false
                                                        // )
                                                        //         .html(
                                                        //                 'save'
                                                        //         );
                                                        messageDisplay(data
                                                                .message,
                                                                2000
                                                        );
                                                }
                                        },
                                        error: function () {
                                                messageDisplay(
                                                        "error! "
                                                );
                                        }
                                });



                        }).on('change', '#file-upload', function (e) {
                                $("#files-wrapper").removeClass("d-none");

                                var files = e.target.files;
                                var element = $(this);
                                var incerement = 0;

                                if ($(this).get(0).files.length != 0) {
                                        $.each(files, function (i, file) {
                                                console.log(files[i].type);

                                                var FileType = files[i].type;
                                                var filename = files[i].name;
                                                console.log(filename);
                                                var reader = new FileReader();
                                                reader.onload = function (e) {

                                                        var fileExtension =
                                                                FileType
                                                                        .substr((FileType
                                                                                .lastIndexOf(
                                                                                        '/'
                                                                                ) +
                                                                                1
                                                                        ));
                                                        //alert(fileExtension);return false;
                                                        var Extension =
                                                                fileExtension
                                                                        .toLowerCase();
                                                        let showFileName =
                                                                '';
                                                        let filePath =
                                                                '/static/img/file.png';
                                                        if ($.inArray(Extension,
                                                                mediaFilesacceptedExtensions
                                                        ) ===
                                                                -1) {
                                                                messageDisplay
                                                                        (
                                                                                "Not a valid file"
                                                                        );
                                                                return false;
                                                        } else {
                                                                filePath =
                                                                        e
                                                                                .target
                                                                                .result;
                                                        }
                                                        incerement++;

                                                        mediaFiles = [];
                                                        mediaFiles.push(
                                                                file
                                                        );

                                                        let html = `<div class="attachimage-box" style="background: url(${filePath}) no-repeat center;">
                                                       <div class="delete-file delete-image">
                                                        <i class="fas fa-trash-alt"></i>
                                                                        <div>
                                                                                Delete
                                                                        </div>
                                                                </div>
                                                                <div>${showFileName}</div>
                                                        </div>`;
                                                        $("#files-wrapper")
                                                                .html(
                                                                        html
                                                                );

                                                        if (files
                                                                .length ==
                                                                incerement
                                                        ) {
                                                                element.val(
                                                                        ""
                                                                );
                                                        }
                                                };
                                                reader.readAsDataURL(file);
                                        });
                                }

                        }).on('click', '.delete-image', function (e) {
                                mediaFiles = "";
                                $("#files-wrapper").addClass("d-none");
                                // $("#files-wrapper").remove().val("");
                        }).on("change", ".category_type", function () {
                                $(".category_type1").html("")
                                var district = $(this).val();
                        // alert(district);

                if (district) {

                    let formData = new FormData();
                    formData.append('district', district);

                    $.ajax({
                        type: "POST",
                        url: '/admin/edit-hospital-agent',
                        data: formData,
                        dataType: "json",
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.success) {
                                console.log(data);
                                if (data.hospitalName.length) {
                                    var tag = '';
                                    tag = '<option value = "">---hospital name---</option>'
                                    for (var i = 0; i < data.hospitalName.length; i++) {
                                        tag = tag + '<option value="' + data.hospitalName[i][
                                            'hospital_id'
                                        ] + '">' + data.hospitalName[i][
                                            'hospital_name'] + '</option>';
                                    }
                                    $(".category_type1").html(tag);
                                }
                            }
                        }


                    })
                }

            })
                })
        </script>