<%- include ("../../partials/head.ejs") %>

<div class="custom-fullheight">
        <div class="d-lg-flex min-h-full">
                <%- include ("../../partials/admin-side-menu.ejs",{activeLink:70}) %>

                <div class="w-100 superadmin-rightsection p-4 p-lg-5">
                        <div class="mb-4">
                                <div class="color-000 pagename opensans-bold d-inline-block">
                                       Payment
                                </div>
                                
                               
                        </div>
                        <div class="table-responsive">
                                <table class="table table-hover border superadmin-table">
                                        <thead>
                                                <tr>
                                                        <th scope="col" class="agent-bor">Sr.No.</th>
                                                        <th scope="col">Received Date</th>
                                                        <th scope="col"> Distributor Name </th>
                                                        <th scope="col">Agent Name</th>
                                                        <th scope="col"> Zone</th>
                                                        <th scope="col">Hospital Name</th>
                                                        <th scope="col">Aarogya Pradhaan Id</th>
                                                        <th scope="col">payment Id</th>
                                                        <th scope="col">amount</th>
                                                        <th scope="col" class="agent-bor1">status</th>

                                                        

                                                       
                                                </tr>
                                        </thead>

                                        <tbody>
                                               
                                            <% for (var i = 0; i < paymentList.length; i++) { %>
                                               
                                                <tr>
                                                    <td class="mine-radius"><%= i+1; %></td>
                                                    <td><%= newdate[i] %></td>
                                                    <td><%= paymentList[i].distributor_name; %></td>
                                                    <td><%= paymentList[i].agent_name; %></td>
                                                    
                                                    <td><%= paymentList[i].district; %></td>
                                                    <td><%= paymentList[i].hospital_name; %></td>
                                                    <td><%= paymentList[i].card_number; %></td>
                                                    <td><%= paymentList[i].payment_id; %></td>
                                                    <td><%= paymentList[i].amount; %></td>
                                                    <td>
                                                        <% if(paymentList[i].status == 0){ %>
                                                                <p style="color:peru"><b>pending</b></p>
                                                        <% } else if(paymentList[i].status == 1){ %>  
                                                                <p style="color:green"><b>paid</b></p>
                                                        <% } %>
                                                   </td>
                                                   
                                                    

                                                   
                                                    
                                                </tr>

                                                <% } %>
                                               
                                        </tbody>
                                </table>
                        </div>
                </div>

        </div>
</div>
<script>
        $('.superadmin-table').DataTable();
</script> 
<!-- <div class="modal" id="deleteModal">
        <div class="modal-dialog">
                <div class="modal-content"> -->

                        <!-- Modal Header -->
                        <!-- <div class="modal-header">
                                <h4 class="modal-title">Are You Sure?</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <!-- <div class="modal-body">
                                Are You Sure You Want to Delete ?
                        </div>

                        <!-- Modal footer -->
                        <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-danger" id="delete">Yes</button>
                        </div>

                </div>
        </div>
</div>   -->

<!-- <script type="text/javascript">
        $(document).ready(function () {
                let deleteDistributor;
                $('body').on('click', '.delete-distributor', function () {
                       deleteDistributor = $(this).data('id');
                        $("#deleteModal").modal('toggle');
                }).on('click', '#delete', function () {
                        let element = $(this);
                        element.attr("disabled", "disabled").html("Please Wait..");
                        postData('/admin/delete-distributor', {
                                'distributor_id': deleteDistributor
                        }, function (response) {

                                if (response.success) {
                                        messageDisplay(response.message,
                                                2000, "success");
                                        setTimeout(function () {
                                                window.location
                                                        .reload();
                                        }, 2000);
                                } else {
                                        element.attr("disabled", false)
                                                .html('save');
                                        messageDisplay(response.message,
                                                2000);
                                }
                        });
                })
        }) -->

<!-- </script>  -->