<%- include ("../../partials/head.ejs") %>

<div class="custom-fullheight">
        <div class="d-lg-flex min-h-full">
                <%- include ("../../partials/hospital-side-menu.ejs",{activeLink:102}) %>
                <div class="w-100 superadmin-rightsection p-5 mob-p">
                        <div class="color-000 pagename opensans-bold mb-4">
                                <a class="pointer" href="../billing"><img src="/static/img/back.png" class="img-fluid">
                                         Generated Bill</a>
                        </div>
                        <div class="row">
                                <div class="col-xxl-5 col-xl-6  col-lg-12 col-md-12 col-sm-12">
                                        
                                                <div class="row " >
                                                        <div  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-4 mb-lg-0">
                                                               
                                                                                            
                                                                
                                                                                <label class="color-333 superadmin-label">
                                                                                        first Name:
                                                                                </label>
                                                                                <div class="">
                                                                                    <p><%=billUsersDetails[0].first_name%></p>    
                                                                                </div>

                                                                                <label class="color-333 superadmin-label">
                                                                                        Last Name:
                                                                                </label>
                                                                                <div class="">
                                                                                        <p><%=billUsersDetails[0].last_name%></p>    
                                                                                </div>

                                                                                <label class="color-333 superadmin-label">
                                                                                        Mobile Number:
                                                                                </label>
                                                                                <div class="">
                                                                                        <p><%=billUsersDetails[0].mobile_no%></p>    
                                                                                </div>

                                                                                <label class="color-333 superadmin-label">
                                                                                        Email Id:
                                                                                </label>
                                                                                <div class="">
                                                                                        <p><%=billUsersDetails[0].user_email_id%></p>    
                                                                                </div>

                                                                                <label class="color-333 superadmin-label">
                                                                                        District:
                                                                                </label>
                                                                                <div class="">
                                                                                        <p><%=billUsersDetails[0].user_district%></p>    
                                                                                </div>

                                                                                <label class="color-333 superadmin-label">
                                                                                        Aadhar Number:
                                                                                </label>
                                                                                <div class="">
                                                                                        <p><%=billUsersDetails[0].aadhar_no%></p>    
                                                                                </div>

                                                                                <label class="color-333 superadmin-label">
                                                                                        Aarogya Pradhan Id:
                                                                                </label>
                                                                                <div class="">
                                                                                        <p><%=billUsersDetails[0].arogya_pradhan_id%></p>    
                                                                                </div>
                                                                                <hr>

                                                                                <label class="color-333 superadmin-label">
                                                                                    Bill Number:
                                                                            </label>
                                                                            <div class="">
                                                                                    <p><%=billUsersDetails[0].bill_number%></p>    
                                                                            </div>

                                                                            <label class="color-333 superadmin-label">
                                                                                Bill Amount:
                                                                        </label>
                                                                        <div class="">
                                                                                <p><%=billUsersDetails[0].bill_amount%></p>    
                                                                        </div>

                                                                        <label class="color-333 superadmin-label">
                                                                            Bill Image:
                                                                    </label>
                                                                    <div class="">
                                                                        <img src="/static/<%= billUsersDetails[0].bill_image; %>"
                                                                        style="width: 75px;"> 
                                                                    </div>
                                                                    <label class="color-333 superadmin-label">
                                                                        Discount Applied:
                                                                </label>
                                                                <div class="">
                                                                        <p>40%</p>    
                                                                </div>
                                                                <label class="color-333 superadmin-label">
                                                                   Payable Amount:
                                                            </label>
                                                            <div class="">
                                                                    <p><%=billUsersDetails[0].payable_amount%></p>    
                                                            </div>

                                                            <div class="mb-4">

                                                                <div class="">
                                                                        <input type="hidden"
                                                                                class="form-control superadmin-formcontrol rounded"
                                                                                id="userId" value= <%=billUsersDetails[0].user_id%>
                                                                               
        
                                                                </div>
                                                        </div>
                                                            


                                                                <div class="text-right mt-3">
                                                                    <button type="button"
                                                                    class="btn add-btn btn-update"
                                                                    id="updateStatus" data-id = <%= billUsersDetails[0].bill_id %>>paid</button>
                                                                </div>

                                                        </div>
                                                </div>
                                        
                                </div>
                        </div>
                </div>

        </div>
</div>


 <script>
        $(document).ready(function () {
                
                $("body").on("click", "#updateStatus", function () {

                        let billId = $(this).attr("data-id");
                        let userId = $('#userId').val();
                       
                        let formData = new FormData();
                        formData.append('bill_id',billId);
                        formData.append('user_id',userId);
                      
                        $.ajax({
                                type: "POST",
                                url: '/hospital/update-bill-status',
                                data: formData,
                                dataType: "json",
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                        if (data.success ==
                                                true) {
                                                messageDisplay(data
                                                        .message,
                                                        2000,
                                                        "success"
                                                );setTimeout(function () {
                                                                window.location.href =
                                                                        "/hospital/receipt-view/"+data.last_bill_id;
                                                        },
                                                        2000
                                                );
                                                
                                        } else {
                                                element.attr("disabled",
                                                                false
                                                        )
                                                        .html(
                                                                'save'
                                                        );
                                                messageDisplay(data
                                                        .message,
                                                        2000
                                                );
                                        }
                                },
                                error: function () {
                                        messageDisplay(
                                                "Bill data not sent"
                                        );
                                }
                        });
      
                 })
                })

                 </script>