<%- include ("../../partials/head.ejs") %>

        <div class="custom-fullheight">
                <div class="d-lg-flex min-h-full">
                        <%- include ("../../partials/hospital-side-menu.ejs",{activeLink:102}) %>
                                <div class="w-100 superadmin-rightsection p-5 mob-p">
                                        <div class="color-000 pagename opensans-bold mb-4">
                                                <a class="pointer" href="../add-bill"><img src="/static/img/back.png"
                                                                class="img-fluid">
                                                        Generate New Bill</a>
                                        </div>
                <div class="row">
                    <div class="col-xxl-5 col-xl-12  col-lg-12 col-md-12 col-sm-12">

                        <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-12 mb-4 mb-lg-0">
                                        <div class="shadow-none mb-5 bg-white rounded p-5">
                                        <h1 class="use-card-de">User Details</h1>
                                        <div class="row  mt-2 pt-2">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-12 mb-4 mb-lg-0">


                                                                                        <label
                                                                                                class="color-333 superadmin-label1">
                                                                                                First Name:
                                                                                        </label>
                                                                                        <div class="super-add">
                                                                                                <p>
                                                                                                        <%= usersList[0].first_name %>
                                                                                                </p>
                                                                                        </div>

                                                                                        <label
                                                                                                class="color-333 superadmin-label1">
                                                                                                Last Name:
                                                                                        </label>
                                                                                        <div class="super-add">
                                                                                                <p>
                                                                                                        <%= usersList[0].last_name%>
                                                                                                </p>
                                                                                        </div>

                                                                                        <label
                                                                                                class="color-333 superadmin-label1">
                                                                                                Mobile Number:
                                                                                        </label>
                                                                                        <div class="super-add">
                                                                                                <p>
                                                                                                        <%= usersList[0].mobile_no%>
                                                                                                </p>
                                                                                        </div>
                                                </div>
                                  
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-12 mb-4 mb-lg-0">
                                                                                        <label
                                                                                                class="color-333 superadmin-label1">
                                                                                                Email Id:
                                                                                        </label>
                                                                                        <div class="super-add">
                                                                                                <p>
                                                                                                        <%= usersList[0].user_email_id;%>
                                                                                                </p>
                                                                                        </div>

                                                                                        <label
                                                                                                class="color-333 superadmin-label1">
                                                                                                District:
                                                                                        </label>
                                                                                        <div class="super-add">
                                                                                                <p>
                                                                                                        <%= usersList[0].district;%>
                                                                                                </p>
                                                                                        </div>

                                                                                        <label
                                                                                                class="color-333 superadmin-label1">
                                                                                                Aadhar Number:
                                                                                        </label>
                                                                                        <div class="super-add">
                                                                                                <p>
                                                                                                        <%= usersList[0].aadhar_no;%>
                                                                                                </p>
                                                                                        </div>
                                                                                    </div>
                                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-12 mb-4 mb-lg-0">
                                                                                        <h6>Adhar Card Image</h6>

                                                                                </div>
                                                                                <div class="">
                                                                                        <img src="/static/<%= usersList[0].aadhar_image; %>"
                                                                style="width: 75px;">    
                                                                                </div>
                                                        </div>
                                                </div>
                                         </div>
                        
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-12   shadow-none mb-5 bg-white rounded p-5">
                                                                                <h5 class="arogya-card-scan">Arogya Pradhan Card Details</h5>
                                                                                <div class="row">
                                                                                   
                                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-12">
                                                                                        <label class="color-333 superadmin-label1">
                                                                                         Arogya Pradhan ID:
                                                                                        </label>
                                                                                        <p class="super-add">
                                                                                        <%= usersList[0].card_number;%>
                                                                                        </p>
                                                                                        <label class="color-333 superadmin-label1">
                                                                                                Card Status:
                                                                                        </label>
                                                                                       

                                                                                        <% if( usersList[0].offer_utilize == 0 ){ %>
                                                                                               <h6 class="active-card text-center">Active</h6>
                                                                                        <% } else if( usersList[0].offer_utilize == 1 ){ %>  
                                                                                                <h6 class="active-card text-center">Offer Utilized</h6>
                                                                                        <% } %>            
                                                                                 </div>
                                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-12">
                                                                                        <label class="color-333 superadmin-label1">
                                                                                                Valid Upto:
                                                                                        </label>
                                                                                               <p class="super-add">
                                                                                                <%= newdate[0];%>
                                                                                               </p>
                                                                                               </div>
                                                                                </div>
                                                                        </div>  
                                                                </div>
                                                        </div>  
                                                </div> 
                                                
                                               
                                                <% if( usersList[0].offer_utilize == 0 ){ %>
                                                <div class="mb-4">

                                                        <div class="">
                                                                <input type="hidden"
                                                                        class="form-control superadmin-formcontrol rounded"
                                                                        id="user_id" value=<%=usersList[0].user_id %>

                                                        </div>
                                                </div>

                                                <div class="mb-4">

                                                        <div class="">
                                                                <input type="hidden"
                                                                        class="form-control superadmin-formcontrol rounded"
                                                                        id="district_id" value=<%=usersList[0].district_id %>

                                                        </div>
                                                </div>

                                               
                                                <section>
                                                        <div class="shadow-none mb-5 bg-white rounded p-4">
                                                        <h1 class="use-card-de mb-3">User Details</h1>
                                                        <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-12">
                                                <div class="mb-4">
                                                        <label class="color-333 super-add">
                                                                Bill Number
                                                        </label>
                                                        <div class="">
                                                                <input type="number"
                                                                        class="form-control superadmin-formcontrol rounded"
                                                                        id="BillNumber" placeholder="Enter Bill Number">
                                                        </div>
                                                </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-12">
                                                <div class="mb-4">
                                                        <label class="color-333 super-add">
                                                                Bill Amount
                                                        </label>
                                                        <div class="">
                                                                <input type="number"
                                                                        class="form-control superadmin-formcontrol rounded"
                                                                        id="billAmount" placeholder="Enter Bill Amount">
                                                        </div>
                                                </div>
                                                 </div>
                                                 <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-12">
                                                <label class="color-333 super-add">
                                                        Upload Image/Pdf
                                                </label>
                                                <div class="position-relative upload-files mb-4 col-12">

                                                        <input type="file" id="file-upload">
                                                        <div class="upload-files-placeholder">
                                                                <img src="/static/img/upload.png" class="img-fluid" placeholder="Upload Img/Pdf">

                                                        </div>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                </section>
                                                <div class="row mx-0 " id="files-wrapper">

                                                </div>



                                                <div class="text-right mt-3">
                                                        <button type="button" class="btn add-btn btn-update"
                                                                id="savedata">Save & Scan Card</button>
                                                </div>
                                                <% } else if( usersList[0].offer_utilize == 1 ){ %>
                                                        <p>offer Utilized && please Renewal the Aarogya Pradhan card</p>
                                                        <% } %>   
                                                
                                        </div>
                                </div>

                </div>
        </div>
        </div>

        </div>
        </div>

        <script>
                $(document).ready(function () {

                        mediaFiles = [];
                        const mediaFilesacceptedExtensions = ["jpg", "png", "jpeg"];

                        $("body").on("click", "#savedata", function () {

                                let userId = $('#user_id').val();
                                let districtId = $('#district_id').val();

                                let pattern = /[a-zA-Z0-9]$/;


                                let BillNumberElement = $("#BillNumber");
                                let billNumber = BillNumberElement.val();
                                billNumber = $.trim(billNumber);
                                if (billNumber == "" || billNumber == null || billNumber == undefined) {
                                        messageDisplay("Enter Bill Number ");
                                        return false;
                                }
                                //alert(billNumber);

                                if (!billNumber.match(pattern)) {
                                        messageDisplay("enter correct Bill Number");
                                        return false;
                                }



                                let billAmountElement = $("#billAmount");
                                let billAmount = billAmountElement.val();
                                billAmount = $.trim(billAmount);
                                if (billAmount == "" || billAmount == null || billAmount == undefined) {
                                        messageDisplay("Enter Bill Amount ");
                                        return false;
                                }

                                let formData = new FormData();
                                formData.append("userId", userId);
                                formData.append("districtId", districtId);
                                formData.append("billNumber", billNumber);
                                formData.append("billAmount", billAmount);
                                formData.append("upload_file", mediaFiles[0])



                                $.ajax({
                                        type: "POST",
                                        url: '/hospital/bill-details',
                                        data: formData,
                                        dataType: "json",
                                        cache: false,
                                        contentType: false,
                                        processData: false,
                                        success: function (data) {
                                                if (data.success ==
                                                        true) {
                                                        messageDisplay(data
                                                                .message,
                                                                2000,
                                                                "success"
                                                        ); setTimeout(function () {
                                                                window.location.href =
                                                                        "/hospital/bill_payment/" + data.last_bill_id;
                                                        },
                                                                2000
                                                        );

                                                } else {
                                                        element.attr("disabled",
                                                                false
                                                        )
                                                                .html(
                                                                        'save'
                                                                );
                                                        messageDisplay(data
                                                                .message,
                                                                2000
                                                        );
                                                }
                                        },
                                        error: function () {
                                                messageDisplay(
                                                        "Bill data not sent"
                                                );
                                        }
                                });



                        }).on('change', '#file-upload', function (e) {
                                $("#files-wrapper").removeClass("d-none");

                                var files = e.target.files;
                                var element = $(this);
                                var incerement = 0;

                                if ($(this).get(0).files.length != 0) {
                                        $.each(files, function (i, file) {
                                                console.log(files[i].type);

                                                var FileType = files[i].type;
                                                var filename = files[i].name;
                                                console.log(filename);
                                                var reader = new FileReader();
                                                reader.onload = function (e) {

                                                        var fileExtension =
                                                                FileType
                                                                        .substr((FileType
                                                                                .lastIndexOf(
                                                                                        '/'
                                                                                ) +
                                                                                1
                                                                        ));
                                                        //alert(fileExtension);return false;
                                                        var Extension =
                                                                fileExtension
                                                                        .toLowerCase();
                                                        let showFileName =
                                                                '';
                                                        let filePath =
                                                                '/static/img/file.png';
                                                        if ($.inArray(Extension,
                                                                mediaFilesacceptedExtensions
                                                        ) ===
                                                                -1) {
                                                                messageDisplay
                                                                        (
                                                                                "Not a valid file"
                                                                        );
                                                                return false;
                                                        } else {
                                                                filePath =
                                                                        e
                                                                                .target
                                                                                .result;
                                                        }
                                                        incerement++;

                                                        mediaFiles = [];
                                                        mediaFiles.push(
                                                                file
                                                        );

                                                        let html = `<div class="attachimage-box" style="background: url(${filePath}) no-repeat center;">
        <div class="delete-file delete-image">
                <i class="fas fa-trash-alt"></i>
                <div>
                        Delete
                </div>
        </div>
        <div>${showFileName}</div>
</div>`;
                                                        $("#files-wrapper")
                                                                .html(
                                                                        html
                                                                );

                                                        if (files
                                                                .length ==
                                                                incerement
                                                        ) {
                                                                element.val(
                                                                        ""
                                                                );
                                                        }
                                                };
                                                reader.readAsDataURL(file);
                                        });
                                }

                        }).on('click', '.delete-image', function (e) {
                                mediaFiles = "";
                                $("#files-wrapper").addClass("d-none");
                                
                        })
                })

        </script>