<%- include ("../../partials/head.ejs") %>

<div class="custom-fullheight">
        <div class="d-lg-flex min-h-full">
                <%- include ("../../partials/hospital-side-menu.ejs",{activeLink:101}) %>
                <div class="w-100 superadmin-rightsection p-5 mob-p">
                        <div class="color-000 pagename opensans-bold mb-4">
                                My profile
                        </div>

                        <div class="row">
                                <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
                                        <div class="input-boxs" style="background-color: white;">
                                                <div class="mb-4">
                                                        <img src="/static/<%= userDetails[0].image_path %>"
                                                                style="margin: 0 auto; display: block; width: 125px;height: 125px;border-radius: 50%;">
                                                </div>
                                                <div class="row">
                                                        <div class="col-lg-6 col-md-6 mb-4">
                                                                <label class="color-333 superadmin-label">Name</label>
                                                                <input type="text" value='<%= userDetails[0].name %>'
                                                                        class="form-control superadmin-formcontrol rounded"
                                                                        id="name" placeholder="Enter name">
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 mb-4">
                                                                <label class="color-333 superadmin-label">Email </label>
                                                                <input type="text" value='<%= userDetails[0].email %>'
                                                                        class="form-control superadmin-formcontrol rounded"
                                                                        id="email" placeholder="Enter email">
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 mb-4">
                                                                <label class="color-333 superadmin-label">Mobile</label>
                                                                <input type="text" value='<%= userDetails[0].mobile %>'
                                                                        class="form-control superadmin-formcontrol rounded"
                                                                        id="mobile" placeholder="Enter mobile">
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 mb-4">
                                                                <label class="color-333 superadmin-label">Change Profile
                                                                        photo </label>
                                                                <div class="position-relative upload-files mb-3 col-12">
                                                                        <input type="file" id="file-upload">
                                                                        <div class="upload-files-placeholder">
                                                                                <img src="/static/img/upload.png"
                                                                                        class="img-fluid">

                                                                        </div>
                                                                </div>
                                                                <div class="row mx-n2" id="files-wrapper">

                                                                </div>
                                                        </div>

                                                        <div class="col-lg-12 col-md-12">
                                                                <button type="button"
                                                                        class="btn add-btn btn-update float-right"
                                                                        id="saveCategory">Save</button>
                                                        </div>

                                                        <div class="test" style="padding-left: 17px;">
                                                                <div class="form-check text-right test">
                                                                        <input type="checkbox" class="form-check-input"
                                                                                id="check1" name="preferedVendor"
                                                                                value="1">
                                                                        <label class="form-check-label"
                                                                                for="check1">Change
                                                                                Password ?</label>
                                                                </div>
                                                        </div>
                                                        <br>

                                                </div>

                                                <div class="row tested">


                                                        <div class="col-lg-6 col-md-6 mb-4">
                                                                <label class="color-333 superadmin-label">New
                                                                        Password</label>
                                                                <input type="password"
                                                                        class="form-control superadmin-formcontrol rounded myInput"
                                                                        id="password" placeholder="New password">
                                                        </div>

                                                        <div class="col-lg-6 col-md-6 mb-4">
                                                                <label class="color-333 superadmin-label">Confirm
                                                                        Password
                                                                </label>
                                                                <input type="password"
                                                                        class="form-control superadmin-formcontrol rounded myInput"
                                                                        id="cpassword" placeholder="Confirm Password">

                                                        </div>
                                                        <div class="test" style="padding-left: 17px;">
                                                                <div class="form-check text-right test">
                                                                        <input type="checkbox" onclick="myFunction()"
                                                                                class="form-check-input">
                                                                        <label class="form-check-label"
                                                                                for="check1">Show
                                                                                Password ?</label>
                                                                </div>
                                                        </div>

                                                        <div class="col-lg-12 col-md-12">
                                                                <button type="button"
                                                                        class="btn add-btn btn-update float-right"
                                                                        id="updatePassword"
                                                                        data-id=<%= userDetails[0].user_id %>>Update
                                                                        Password</button>
                                                        </div>

                                                </div>






                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
<script>
        function myFunction() {
                var y = document.getElementById("password");
                if (y.type === "password") {
                        y.type = "text";
                } else {
                        y.type = "password";
                }

                var z = document.getElementById("cpassword");
                if (z.type === "password") {
                        z.type = "text";
                } else {
                        z.type = "password";
                }
        }
</script>
<script>
        let mediaFiles = [];
        $(document).ready(function () {
                $(".tested").addClass("d-none");
                $(".test").click(function () {
                        var preferedVendor = $(
                                        'input[name="preferedVendor"]:checked')
                                .val()
                        if (preferedVendor == 1) {
                                $(".tested").removeClass("d-none");
                        } else {
                                $(".tested").addClass("d-none");
                        }
                });

                const mediaFilesacceptedExtensions = ["jpg", "png", "jpeg"];
                let mediaFiles = [];
                let file = '';
                $('body')
                        .on('click', '#saveCategory', function () {
                                let nameElement = $("#name");
                                let name = nameElement.val();
                                name = $.trim(name);
                                if (name == "") {
                                        messageDisplay("Please enter name");
                                        return false;
                                }

                                let nameExpr = /^[a-zA-Z ]+$/.test(name);
                                if (!nameExpr) {
                                        messageDisplay("Please enter valid name", 1500,
                                                "error");
                                        $("#name").focus();
                                        return false;
                                }

                                if (!name.match('^[a-zA-Z ]{0,1000}$')) {
                                        messageDisplay("Please enter valid name");
                                        $("#name").focus();
                                        return false;
                                }

                                if (name.length < 3 || name.length > 15) {
                                        messageDisplay(
                                                "name should contain 3 to 15 characters"
                                        );
                                        $("#name").focus();
                                        return false;
                                }


                                let emailElement = $("#email");
                                let email = emailElement.val();
                                email = $.trim(email);
                                if (email == "") {
                                        messageDisplay("Please enter email");
                                        return false;
                                }

                                if (!emailExpr.test(email)) {
                                        messageDisplay("Please enter valid email address",
                                                1500,
                                                "error");
                                        $("#email").focus();
                                        return false;
                                }

                                let mobileElement = $("#mobile");
                                let mobile = mobileElement.val();
                                mobile = $.trim(mobile);
                                if (mobile == "") {
                                        messageDisplay("Please enter mobile number");
                                        return false;
                                }

                                if (!mobileExpr.test(mobile)) {
                                        messageDisplay("Please enter valid mobile number",
                                                1500,
                                                "error");
                                        $("#mobile").focus();
                                        return false;
                                }

                                let passwordElement = $("#password");
                                let password = passwordElement.val();
                                password = $.trim(password);



                                let element = $(this);
                                element.attr("disabled", "disabled").html(
                                        "Please Wait..");
                                let formData = new FormData();

                                formData.append('upload_file', mediaFiles[0]);
                                formData.append('name', name);
                                formData.append('email', email);
                                formData.append('mobile', mobile);
                                formData.append('password', password);

                                $.ajax({
                                        type: "POST",
                                        url: window.location.href,
                                        xhr: function () {
                                                var xhr =
                                                        new window
                                                        .XMLHttpRequest();
                                                xhr.upload
                                                        .addEventListener(
                                                                'progress',
                                                                progress
                                                        );
                                                return xhr;
                                        },
                                        data: formData,
                                        dataType: "json",
                                        cache: false,
                                        contentType: false,
                                        processData: false,
                                        success: function (data) {
                                                console.log(
                                                        data
                                                );
                                                if (data.success ==
                                                        true) {
                                                        messageDisplay
                                                                (data
                                                                        .message,
                                                                        2000,
                                                                        "success"
                                                                );
                                                        setTimeout
                                                                (function () {
                                                                                location.href =
                                                                                        "/admin/profile";
                                                                        },
                                                                        2000
                                                                );
                                                } else {
                                                        element.attr("disabled",
                                                                        false
                                                                )
                                                                .html(
                                                                        'save'
                                                                );
                                                        messageDisplay
                                                                (data
                                                                        .message,
                                                                        2000,
                                                                        "false"
                                                                );
                                                }
                                        },
                                        error: function () {
                                                messageDisplay(
                                                        "category not inserted"
                                                );
                                        }
                                });

                        }).on('click', '#updatePassword', function () {

                                let userId = $(this).attr('data-id');

                                let passwordElement = $("#password");
                                let confirmPasswordElement = $("#cpassword");


                                let password = passwordElement.val();
                                password = $.trim(password);
                                if (password == "") {
                                        messageDisplay("Please enter password");
                                        return false;
                                }

                                if (password.length < 5 || password.length > 20) {
                                        messageDisplay(
                                                "Password should be 5 to 20 characters"
                                        );
                                        return false;
                                }

                                let confirmPassword = confirmPasswordElement.val();
                                confirmPassword = $.trim(confirmPassword);
                                if (confirmPassword == "") {
                                        messageDisplay("Please enter confirm password");
                                        return false;
                                }


                                if (confirmPassword != password) {
                                        messageDisplay("Password not match");
                                        return false;
                                }

                                $.post('/admin-login/reset-password-two', {
                                        'password': password,
                                        user: userId
                                }, function (data) {
                                        if (data.success) {

                                                messageDisplay(data
                                                        .message,
                                                        2000,
                                                        "success"
                                                );


                                                setTimeout(function () {
                                                        window.location
                                                                .reload();
                                                }, 2000)

                                        } else {
                                                messageDisplay(data
                                                        .message,
                                                        1500,
                                                        "error");
                                        }
                                });



                        }).on('change', '#file-upload', function (e) {
                                var files = e.target.files;
                                var element = $(this);
                                var incerement = 0;

                                if ($(this).get(0).files.length != 0) {
                                        $.each(files, function (i, file) {
                                                console.log(files[i]
                                                        .type);

                                                var FileType = files[i]
                                                        .type;
                                                var filename = files[i]
                                                        .name;
                                                console.log(filename);
                                                var reader =
                                                        new FileReader();
                                                reader.onload =
                                                        function (e) {

                                                                var fileExtension =
                                                                        FileType
                                                                        .substr((FileType
                                                                                .lastIndexOf(
                                                                                        '/'
                                                                                ) +
                                                                                1
                                                                        ));
                                                                var Extension =
                                                                        fileExtension
                                                                        .toLowerCase();
                                                                let showFileName =
                                                                        '';
                                                                let filePath =
                                                                        '/static/img/file.png';
                                                                if ($.inArray(Extension,
                                                                                mediaFilesacceptedExtensions
                                                                        ) ===
                                                                        -
                                                                        1
                                                                ) {
                                                                        messageDisplay
                                                                                (
                                                                                        "Not a valid file"
                                                                                );
                                                                        return false;
                                                                } else {
                                                                        filePath =
                                                                                e
                                                                                .target
                                                                                .result;
                                                                }
                                                                incerement++;

                                                                mediaFiles
                                                                        = [];
                                                                mediaFiles
                                                                        .push(
                                                                                file
                                                                        );

                                                                let html = `<div class="attachimage-box" style="background: url(${filePath}) no-repeat center;">
                            <div class="delete-file delete-image">
                                <i class="fas fa-trash-alt"></i>
                                <div>
                                    Delete
                                </div>
                            </div>
                              <div>${showFileName}</div>
                        </div>`;
                                                                $("#files-wrapper")
                                                                        .html(
                                                                                html
                                                                        );

                                                                if (files
                                                                        .length ==
                                                                        incerement
                                                                ) {
                                                                        element.val(
                                                                                ""
                                                                        );
                                                                }
                                                        };
                                                reader.readAsDataURL(
                                                        file);
                                        });
                                }

                        }).on('click', '.delete-image', function (e) {
                                mediaFiles = "";
                                $("#files-wrapper").addClass("d-none");

                        });

                function progress(e) {
                        if (e.lengthComputable) {
                                var max = e.total;
                                var current = e.loaded;

                                var percentage = (current * 100) / max;
                                console.log(percentage, "percentage");
                                if (percentage >= 100) {
                                        // process completed
                                }
                        }
                }


        });
</script>